$font-family: "iranyekan";
$black:#000000;
$white:#ffffff;
$gray100:#f2f2f2;
$gray200:#eef1f3;
$gray300:#EDF0F2;
$gray400:#D6D6D6;
$gray500:#F5F8FB;
$gray800:#626262;
$green400:#2cbe26;
$blue300:#3190FF;
$red300:#D55F5F;
$red400:#E03F3F;